.root {
    li {
        display: inline-flex;

        a {
            display: inline-flex;
            color: #ec6e20;
            cursor: pointer;
    
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            border: 1px solid #ec6e20;
            border-radius: 30px;
            margin-right: 10px;
    
    
            &:hover {
                background: #ec6e20;
                color: #fff;
            }
        }
    }

    :global {
        .selected {
            a {
                background: #ec6e20;
                color: #fff;
            }
        }
    }

    

    
}